<div class="modal-header">
	<div class="title">{{ (data.isNew ? 'EDITOR.SURVEYS.NEW' : 'EDITOR.SURVEYS.EDIT') | translate }}</div>
	<button mat-dialog-close="" mat-button class="mat-icon-button">
		<mat-icon>close</mat-icon>
	</button>
</div>
<div class="modal-body">
	<form class="form" [formGroup]="surveyForm" (ngSubmit)="onSubmit()">
		<mat-form-field>
			<input matInput autocomplete="off" placeholder="Name" formControlName="name" required>
		</mat-form-field>

		<ng-template [ngIf]="!isNew()">
			<mat-form-field>
				<input matInput placeholder="SSID" formControlName="ssid">
			</mat-form-field>

			<mat-form-field>
				<mat-select placeholder="{{ 'EDITOR.HOTSPOTS.FIELDS.REDIRECT_TYPE' | translate }}" formControlName="redirectType">
					<mat-option [value]="RedirectType.external">{{ 'EDITOR.HOTSPOTS.FIELDS.EXTERNAL' | translate }}</mat-option>
					<mat-option [value]="RedirectType.internal">{{ 'EDITOR.HOTSPOTS.FIELDS.INTERNAL' | translate }}</mat-option>
				</mat-select>
			</mat-form-field>

			<mat-form-field *ngIf="surveyForm.get('redirectType').value === RedirectType.external">
				<input matInput placeholder="{{ 'EDITOR.HOTSPOTS.FIELDS.REDIRECT_URL' | translate }}" formControlName="redirectUrl">
			</mat-form-field>

			<app-editor-redirect-resource *ngIf="surveyForm.get('redirectType').value === RedirectType.internal" formControlName="redirectId">
			</app-editor-redirect-resource>

			<mat-form-field>
				<input matInput placeholder="Tracking link URL" formControlName="trackingLink">
			</mat-form-field>
		</ng-template>

		<div class="buttons">
			<button 
				mat-raised-button 
				type="submit" 
				[ngClass]="surveyForm.invalid ? 'disabled' : 'submit'" 
				[disabled]="surveyForm.invalid"
				>{{ (data.isNew ? 'BUTTONS.ADD' : 'BUTTONS.SAVE') | translate }}
			</button>

			<button mat-button mat-dialog-close="" class="cancel">{{'BUTTONS.CANCEL' | translate }}</button>
		</div>
	</form>
</div>