<div class="dialog-content-wrapper">
	<mat-toolbar matDialogTitle>
		<mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
			<span class="title dialog-title">{{ 'BUTTONS.EDIT' | translate }}</span>
			<button mat-button class="mat-icon-button" (click)="closeDialog()" aria-label="Close dialog">
				<mat-icon>close</mat-icon>
			</button>
		</mat-toolbar-row>
	</mat-toolbar>
	<div mat-dialog-content class="popup-content">
		<form class="new-list-form" [formGroup]="form">
			<mat-form-field class="example-full-width">
				<input matInput required placeholder="Name:" formControlName="name">
			</mat-form-field>
			<div class="button-block" fxLayoutAlign="center center">
				<button mat-button class="btn apply" type="button" (click)="onFormSubmit()" [disabled]="!form.valid">{{
					'BUTTONS.APPLY' | translate }}</button>
				<button mat-button class="btn cancel" [mat-dialog-close]="">{{ 'BUTTONS.CANCEL' | translate }}</button>
			</div>
		</form>
	</div>
</div>