@import "src/styles/mixins-breakpoint";

:host {
  width: 100%;

  .mat-table {
    background: transparent;
    box-shadow: none;

    .mat-row {
      position: relative;
			cursor: pointer;
			user-select: none;
      min-height: 64px;
    }
  }
}

