$blue-palette: (
    50 : #e1ebee,
    100 : #b4ced6,
    200 : #82adba,
    300 : #508c9e,
    400 : #2b738a,
    500 : #055a75,
    600 : #04526d,
    700 : #044862,
    800 : #033f58,
    900 : #012e45,
    A100 : #7ac8ff,
    A200 : #47b2ff,
    A400 : #149dff,
    A700 : #0092f9,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$green-palette: (
    50 : #e6f6e9,
    100 : #c1e8c7,
    200 : #97d9a2,
    300 : #6dc97d,
    400 : #4ebe61,
    500 : #2fb245,
    600 : #2aab3e,
    700 : #23a236,
    800 : #1d992e,
    900 : #128a1f,
    A100 : #bdffc2,
    A200 : #8aff94,
    A400 : #57ff65,
    A700 : #3dff4e,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$red-palette: (
    50 : #ffe5e5,
    100 : #ffbebe,
    200 : #ff9393,
    300 : #ff6868,
    400 : #ff4747,
    500 : #ff2727,
    600 : #ff2323,
    700 : #ff1d1d,
    800 : #ff1717,
    900 : #ff0e0e,
    A100 : #ffffff,
    A200 : #fff6f6,
    A400 : #ffc3c3,
    A700 : #ffaaaa,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);



