<div class="modal-header mat-h2">
	<div class="title">{{ (data.isNew ? 'EDITOR.SLIDES.NEW' : 'EDITOR.SLIDES.EDIT') | translate }}</div>
	<button tabindex="0" mat-dialog-close="" mat-button class="mat-icon-button">
		<mat-icon>close</mat-icon>
	</button>
</div>
<div class="modal-body">
	<form class="form" [formGroup]="slideForm" (ngSubmit)="onSubmit()">
		<mat-form-field>
			<input matInput autocomplete="off" placeholder="Name" formControlName="name" required id="name" value="{{ currentSlide.general.name ? currentSlide.general.name : 'NewSlide' }}">
		    <mat-error *ngIf="!slideForm.controls.name.valid && (slideForm.controls.name.dirty || slideForm.controls.name.touched)">
                Name is required
            </mat-error>
        </mat-form-field>

		<div class="buttons">
			<button
				mat-raised-button
				type="submit"
				[ngClass]="slideForm.invalid ? 'disabled' : 'submit'"
				[disabled]="slideForm.invalid"
			>
				{{ (data.isNew ? 'BUTTONS.ADD' : 'BUTTONS.SAVE') | translate }}
			</button>

			<button mat-button mat-dialog-close="" class="cancel">{{'BUTTONS.CANCEL' | translate }}</button>
		</div>
	</form>
</div>
