.grid-container {
  margin: 15px 0 0 0;
  flex: 1;
}

.grid-settings-wrapper {
  display: flex;
  flex: 1;
  align-items: center;
	align-content: space-between;
	
  mat-label {
    padding: 0 5px 0 0;
    flex-wrap: nowrap;
	}
	
  mat-checkbox {
  	display: flex;
		flex: 1;
		
    .mat-checkbox-layout {
      flex: 1;
    }
	}
	
  mat-slider {
    flex: 1;
	}
	
  p {
  	flex: 0.1;
    padding: 0 0 0 5px;
    text-align: center;
  }
}
