@import 'src/styles/variables.scss';

.shape-parameter {
  margin-bottom: 1.1em !important;
}

.image-preview {
  display: flex;
  width: 100px;
  height: 100px;
  margin: auto;
  border: 1px solid $canvas-bg-color;
  cursor: pointer;

  img {
    width: 100%;
    object-fit: contain;
  }
}
