<router-outlet></router-outlet>
<tour-step-template>
	<ng-template let-step="step">
    <mat-card (click)="$event.stopPropagation()">
      <mat-card-title>
        {{step?.title}}
      </mat-card-title>
      <mat-card-content>
        {{step?.content}}
      </mat-card-content>
      <mat-card-actions>
				<button 
					class="mat-icon-button step" 
					[class.step-disabled]="disabledStep" 
					[disabled]="disabledStep" 
					*ngIf="!hideStep" 
					(click)="tourService.prev()"
				>
          <mat-icon>undo</mat-icon>
        </button>
				<button 
					class="mat-icon-button step" 
					[class.step-disabled]="!disabledStep" 
					[disabled]="!disabledStep" 
					*ngIf="!hideStep" 
					(click)="tourService.next()"
				>
          <mat-icon>redo</mat-icon>
        </button>
        <button mat-button (click)="tourService.end()">{{step?.endBtnTitle}}</button>
      </mat-card-actions>
    </mat-card>
  </ng-template>
</tour-step-template>
