@import 'src/styles/variables.scss';

mat-toolbar-row {
  background: mat-color($primary);
  color: mat-contrast($primary, 500);
  padding: 12px;

  mat-icon {
		color: mat-contrast($primary, 500);
  }

  span {
    font-size: 18px;
  }
}

.dialog-content-wrapper {
  overflow: hidden;
  min-width: 40vh;

  form {
    margin: 20px;
  }
}

.popup-content {
  overflow: auto;

  mat-form-field {
    width: 100%;
    margin-top: 15px;
  }
}

.button-block {
  margin-top: 15px;
    
  .apply {
    background-color: mat-color($accent);
    color: mat-contrast($primary, 500);
  }
}
