@import 'src/styles/variables.scss';

.logout-wrapper {
	margin-left: 20px;
	position: relative;

	.logout-content {
		position: absolute;
		right: 0;
		top: 45px;
		display: none !important;
		z-index: 1;
		background-color: mat-contrast($primary, 500);
		border: 1px solid $canvas-bg-color;
		box-shadow: 0 2px 10px rgba(0,0,0,.2);

		.user-wrapper {
			padding: 18px;
			min-width: 350px;

			.user-avatar {
				border-radius: 50%;
				background-color: mat-color($primary);
				color: mat-contrast($primary, 500);
				padding: 28px;
				margin-right: 20px;

				.user-name {
					font-size: mat-font-size($typography, display-1);
					margin: 0;
				}
			}

			.user-info {
				.user-email, .user-name {
					margin: 0;
				}
			}
		}

		.button-block {
			padding: 10px;
			background-color: $general-setting-color;
			border: 1px solid $canvas-bg-color;
		}

		&::after {
			content: "";
			position: absolute;
			top: -7px;
			right: 12px;
			width: 0; 
			height: 0; 
			border-left: 7px solid transparent;
			border-right: 7px solid transparent;
			border-bottom: 7px solid mat-contrast($primary, 500);
		}
	}

	.logout-visible {
		display: block !important;
	}

	.logout {
		mat-icon {
			color: mat-contrast($primary, 500)
		}
	}
}